@import '../styles/custom-properties.scss';
@import '../styles/custom-media.scss';

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  background-color: var(--black);
  padding: 3rem 0 1rem;
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-handheld) {
      padding: 0;
    }
  }
}

.navBar {
  width: 80%;
  margin: 0 10%;
  background-color: var(--black);
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-handheld) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0;
    }
  }
}
h3 {
  letter-spacing: 5px;
  font-weight: 900;
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-handheld) {
    }
    letter-spacing: 2px;
  }
}
